@{
    ViewData["Title"] = "Home Page";
}
    <div id="home">
        <aside>
            <span class="side-heading"><i class="fa fa-bars"></i><h4>Selection</h4></span>
            <uL>


                <li>
                    <a class="nav-link " asp-area="" asp-controller="Account" asp-action="UserProfile">Sundaes</a>
                </li>
                <li>
                    <a class="nav-link " asp-area="" asp-controller="Account" asp-action="UserProfile">Flavours</a>
                </li>
                <li>
                    <a class="nav-link " asp-area="" asp-controller="Account" asp-action="UserProfile">Specials</a>
                </li>
            </uL>

        </aside>

        <div class="Welcome">
            <h1>Ice cream Shop TM </h1>

            <h3>Fun,tasty treats for people</h3>

            <img src="~/images/cup.jpeg" alt="Cup of Ice-Cream" />


            <img src="~/images/dish.jpeg" alt="Ice-Cream" />

            <img src="~/images/baked.jpeg" alt="Ice-Cream" />

            <img src="~/images/serving.jpeg" alt="Have a cup of Ice-Cream" />

            <img src="~/images/splash.jpeg" alt="Ice-Cream" />

        </div>
    </div>